<div class="p-5 mb-4  ">
    <h1 class="display-4 ">MOUNTAIN MIX</h1>

    <div class="container-fluid ">
        <p class="col-md-6 heads">
            Fresh from our tea gardens to your cup
        </p>
        <p class="mt-4 texts col-md-6">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In commodo enim sit amet magna semper lacinia. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In commodo enim sit amet.
        </p>
        <button mat-flat-button class="mt-5">
            Explore
        </button>

    </div>
</div>

